.product {
    border: none;
    border-radius: 15px;
    margin: 25px;
    box-shadow: 2px 2px 20px 2px gray;
    position: relative;
}

.product img {
    width: 100%;
    height: 50%;
    border-radius: 15px;
}

.product-info {
    margin-bottom: 80px;
    padding: 0;
    margin-top: 0;
}

.product button {
    position: absolute;
    bottom: 0; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    color: #5c5cff;
}

.product button p {
    margin-right: 5px;
}

.product button:hover {
    background-color: orange;
    color: whitesmoke;
}

.product button p {
    font-size: large;
}

@media screen and (max-width:1400px) {
    .product {
        margin: 15px;
    }
    .product-info {
        margin-bottom: 160px;
    }
}

@media screen and (max-width:1150px) {
    .product {
        margin: 25px;
    }
    .product-info {
        margin-bottom: 150px;
    }
}

@media screen and (max-width:900px) {
    .product {
        margin: 10px;
    }
    .product-info {
        margin-bottom: 170px;
    }
}

@media screen and (max-width:800px) {
    .product {
        margin: 25px;
    }
    .product-info {
        margin-bottom: 120px;
    }
}

@media screen and (max-width:600px) {
    .product {
        margin: 10px 5px;
    }
    .product-info {
        margin-bottom: 100px;
    }
    .product img {
        height: 30%;
    }
}