.cart {
    position: sticky;
    top: 160px;
    margin-bottom: 30px;
}

.cart .choose-one, .choose-again {
    background-color: #ffe5c4;
    border: 1px solid orangered;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    margin-left: 10%;
    display: block;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: orangered;
} 

.choose-again {
    color: orange;
    border: 1px solid orange;
}

.cart .choose-one:hover {
    border: none;
    background-color: #FF5733;
    color: whitesmoke;
}

.cart .choose-again:hover {
    border: none;
    background-color: orange;
    color: whitesmoke;
}

