.cart {
    position: sticky;
    top: 160px;
    margin-bottom: 30px;
}

.cart .choose-one, .choose-again {
    background-color: #ffe5c4;
    border: 1px solid orangered;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    margin-left: 10%;
    display: block;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: orangered;
} 

.choose-again {
    color: orange;
    border: 1px solid orange;
}

.cart .choose-one:hover {
    border: none;
    background-color: #FF5733;
    color: whitesmoke;
}

.cart .choose-again:hover {
    border: none;
    background-color: orange;
    color: whitesmoke;
}

.selected-cart {
    display: flex;
    align-items: center;
    justify-content: left;
    border-left: 3px solid #fa8686;
    margin-left: 10%;
    padding: 0px;
}

.selected-cart img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
    margin-right: 10px;
    margin-left: 5px;
    background-color: #eceaea;
}

.selected-cart p {
    font-size: 20px;
    font-weight: 600;
}

.selected-cart .selected-cart-icon {
    font-size: 1.5em;
    margin-left: 10px;
}