.footer {
    background-color: #00008B;
    padding: 18px;
    color: #FFD700;
    font-size: 14px;
}

@media screen and (max-width:900px) {
    .footer {
        font-size: 10px;
    }
}

@media screen and (max-width:800px) {
    .footer {
        font-size: 10px;
    }
}

@media screen and (max-width:600px) {
    .footer {
        font-size: 10px;
    }
}